@font-face {
	font-family: 'Geometric415BT-BlackA';
	src: url('fonts/Geometric415BT-BlackA.eot?') format('eot'), 
	     url('fonts/Geometric415BT-BlackA.woff') format('woff'), 
	     url('fonts/Geometric415BT-BlackA.ttf')  format('truetype'),
	     url('fonts/Geometric415BT-BlackA.svg#Geometric415BT-BlackA') format('svg');
}

@font-face {
	font-family: 'Geometric415BT-LiteA';
	src: url('fonts/Geometric415BT-LiteA.eot?') format('eot'), 
	     url('fonts/Geometric415BT-LiteA.woff') format('woff'), 
	     url('fonts/Geometric415BT-LiteA.ttf')  format('truetype'),
	     url('fonts/Geometric415BT-LiteA.svg#Geometric415BT-LiteA') format('svg');
}

@font-face {
	font-family: 'Geometric415BT-MediumA';
	src: url('fonts/Geometric415BT-MediumA.eot?') format('eot'), 
	     url('fonts/Geometric415BT-MediumA.woff') format('woff'), 
	     url('fonts/Geometric415BT-MediumA.ttf')  format('truetype'),
	     url('fonts/Geometric415BT-MediumA.svg#Geometric415BT-MediumA') format('svg');
}

@font-face {
	font-family: 'Share-Regular';
	src: url('fonts/Share-Regular.eot?') format('eot'), 
	     url('fonts/Share-Regular.woff') format('woff'), 
	     url('fonts/Share-Regular.ttf')  format('truetype'),
	     url('fonts/Share-Regular.svg#Share-Regular') format('svg');
}