@font-face {
    font-family: 'share-regular';
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/share-regular-webfont.eot');
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/share-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/share-regular-webfont.woff') format('woff'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/share-regular-webfont.ttf') format('truetype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/share-regular-webfont.svg#share-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geometr415_blk_btblack';
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_black_bt-webfont.eot');
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_black_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_black_bt-webfont.woff') format('woff'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_black_bt-webfont.ttf') format('truetype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_black_bt-webfont.svg#geometr415_blk_btblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometr415_lt_btlite';
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_lite_bt-webfont.eot');
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_lite_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_lite_bt-webfont.woff') format('woff'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_lite_bt-webfont.ttf') format('truetype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_lite_bt-webfont.svg#geometr415_lt_btlite') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometr415_md_btmedium';
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_medium_bt-webfont.eot');
    src: url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_medium_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_medium_bt-webfont.woff') format('woff'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_medium_bt-webfont.ttf') format('truetype'),
         url('http://novolsd.lsd.ufcg.edu.br/wp-content/themes/lsd/fonts/geometric_415_medium_bt-webfont.svg#geometr415_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}