/**
 * Bases
 */
body { 
	overflow-y: hidden; 
	//overflow-x: hidden; 
	background: url(images/body-pattern.png);
	position: relative;
}
figure {
	margin: 0;
}
.reveal-modal {
	height: 100%;
	position: fixed;
}
.close-reveal-modal {
	padding: rem-calc(20);
	background: white;
}
select {
	padding: rem-calc(10) !important;
}

%display-load {
	display: none;
	z-index: 999;
	position: fixed;
}

.loading {
	@extend %display-load;
	top: 50%;
	left: 50%;
}

.load-post {
	@extend %display-load;
	left: rem-calc(954);
	top: 30%;
}

a {
	@extend %transition-color;
}

.ui-autocomplete {
	z-index: 999999;
	position: fixed !important;
}
/**
 * Utility classes
 */
.abs {
	@extend %abs;
}

.rel {
	position: relative;
}
.display-block {
	display: block;
}

.fix {
	position: fixed;
}

.ov-hidden {
	overflow: hidden;
}
.centered {
	margin: 0 auto;
}

.text-upp {
	text-transform: uppercase;
}
.white {
	@extend %white;
}
.full-width {
	width: 100%;
}
.black {
	color: $black;
}
.red {
	color: $pink;
}

$color: $black;
$transition-time: .5s;

.lh-one {
	line-height: 1;
}

.lh-one {
	width: 100%;
	color: white;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;

    &:hover a {
      background: $color;
      -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }

    a {

      display: block;
      position: relative;
      padding: rem-calc(10);
      background: $color;
      -webkit-transition: all $transition-time ease;
      -moz-transition: all $transition-time ease;
      -ms-transition: all $transition-time ease;
      transition: all $transition-time ease;
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      &:after {
      	width: 100%;
        content: attr(data-title);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: rem-calc(10);
        color: #fff;
        background: #222;
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
      }
    }
}

//fonts
.font-lite {
	font-family: 'Geometric415BT-LiteA' !important;
}

.font-medium {
	font-family: 'Geometric415BT-MediumA' !important;
}
.font-bold {
	font-family: 'Geometric415BT-BlackA' !important;
}
.font-regular {
	font-family: 'Share-Regular' !important;
}
.font-14 {
	@extend %font-14;
}
.font-10 {
	font-size: rem-calc(10);
}
.font-12 {
	font-size: rem-calc(12);
}
.text-italic {
	font-style: italic;
}
.p-regular {
	p {
		margin: 0;
		line-height: 1.4;
		font-size: rem-calc(14);
	}
}

/**
 * Main menu
 */
#main-menu {
	width: rem-calc(300);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	@include single-transition(height,.3s,ease-in);
	background: $blue;
	z-index: 9999;

	h4 {
		line-height: 1;
	}
}

.logo {
	background: white;
	padding: rem-calc(40) 0;
}

.nav-menu {
	padding-left: rem-calc(64);
	margin-top: rem-calc(30);
	z-index: 999;

	h4 {
		line-height: 1;
	}

	a {
		@extend %font-bold;
		@extend %text-upp;
		@extend %transition-color;
		color: white;

		&:hover {
			color: $yellow;
		}
	}

	.sub-menu {
		a {
			@extend %font-lite;
			font-size: rem-calc(14) !important;	
		}

		ul {
			margin-bottom: 0;
		}
	}
}

.sub-menu {
	margin-left: 0 !important;
	margin-bottom: rem-calc(10) !important;
}

/**
 * Footer
 */
#footer {
	padding: rem-calc(20);
	padding-left: 4rem;
	background: #333;
	bottom: 0;
	left:0;
	@extend %transition-opacity;
	
	p {
		font-size: rem-calc(10);
		margin: 0;
		color: #777;
	}

	h6 {
		font-size: rem-calc(12);
		color: #ddd;
		margin: 0;
	}
}

.this-thought {
	h6 {
		a {
			&:hover {
				color: white;
			}
		}
	}
}

/**
 * Menu options
 */
.options-menu {
	height: rem-calc(150);
	position: fixed;
	width: rem-calc(444);
	z-index: 999;
}

.bt-option {
	display: block;
	width: 33.3333%;
	height: 100%;
	-webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	-ms-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	transition: background-color .3s linear;

	&.orange {
		background: $yellow;

		&:hover {
			background: shade($yellow, 20%);
		}
	}

	&.red {
		background: $pink;

		&:hover {
			background: shade($pink, 20%);
		}
	}

	&.white {
		background: white;

		&:hover {
			background: shade(white, 20%);
		}
	}

	div {
		margin-top: 40%;
	}

	small {
		margin-top: rem-calc(10);
	}
}

//English option
.english-body {
	width: rem-calc(600);
	padding: rem-calc(20);
	margin-left: rem-calc(744);
	margin-top: rem-calc(130);

	h3 {
		color: $blue-lite;
	}

	article {
		top: rem-calc(80);
	}
}

.english-text {
	width: 100%;
	height: 500px;
	overflow: hidden;

	ul {
		padding-right: rem-calc(20);
		padding-left: rem-calc(5);
	}
	p {
		color: $black;
		padding-right: rem-calc(20);
	}
}

.english-sections {
	margin-top: rem-calc(20);
	margin-left: rem-calc(20);

	a {
		padding: rem-calc(10);
		border: 2px solid white;
		@extend %transition;

		&:hover {
			border-color: $blue-lite;
		}

		h6 {
			color: $blue-lite;
		}

	}

	li {
		margin: 0;
	}
}

//Parceiros
.friend-header {
	width: rem-calc(600);
	float: left;
	margin: rem-calc(170) 0 0 rem-calc(300);
	text-align: center;

	h1 {
		font-size: rem-calc(90);
		text-decoration: underline;
	}
}

.friends-list {
	top: rem-calc(320);
	left: rem-calc(300);
	padding-left: rem-calc(20);
	width: rem-calc(600);
	height: 400px;
	overflow: hidden;

	h4 {
		border-bottom: 3px solid $pink;
	}
}

//Oportunidades
.opt-header {
	width: rem-calc(444);
	float: left;
	margin: rem-calc(140) 0 0 rem-calc(300);
	padding: rem-calc(20);

	h1 {
		font-size: rem-calc(80);
		line-height: .8;
		letter-spacing: .2em;
	}

	&.clipp {
		background: white;
	}

	h2 {
		font-size: rem-calc(80);
	}
}

.icon-lsd {
	top: rem-calc(518);
	left: rem-calc(250);
}

.oportunity-text {
	width: rem-calc(400);
	height: 75%;
	overflow: hidden;
	top: rem-calc(150);
	left: rem-calc(744);

	p {
		@extend %font-regular;
		padding-right: rem-calc(20);
	}

	h3 {
		padding-right: rem-calc(20);

	}
}

//Visita virtual
.virtual-tour {
	width: rem-calc(934);
	margin: rem-calc(160) 0 0 rem-calc(320) !important;

	h1 {
		font-size: rem-calc(85);
		color: $pink;
	}
}

//Clipping




