%abs {
	position: absolute;
}
%rel {
	position: relative;
}
%font-lite {
	font-family: 'Geometric415BT-LiteA' !important;
}

%font-medium {
	font-family: 'Geometric415BT-MediumA' !important;
}
%font-bold {
	font-family: 'Geometric415BT-BlackA' !important;
}
%font-regular {
	font-family: 'Share-Regular' !important;
}
%text-upp {
	text-transform: uppercase;
}
%transition-color {
	@include single-transition(color,.3s,linear);
}
%transition-opacity {
	@include single-transition(opacity,.3s,linear);
}
%transition {
	@include single-transition;
}
%white {
	color: white;
}
%font-14 {
	font-size: rem-calc(14);
}
%italic {
	font-style: italic;
}
%black {
	color: $black;
}