/**
 * Posts content
 */

//Projetos
.post-thumb {
	width: rem-calc(744);
	height: 100%;
	top: 0;
	left: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.post-header {
	top: 40%;
	left: rem-calc(300);
	background: white;
	padding: rem-calc(10);

	&.article {
		top: rem-calc(150);
		width: rem-calc(444);

		h1 {
			font-size: rem-calc(90);
			//font-style: italic;
			margin-left: rem-calc(30);

			&.ct {
				font-size: rem-calc(82);
				margin-left: 0;
			}
		}
	}

	p {
		margin: 0;
		color: $blue-lite;
	}

	h1 {
		margin: 0;
	}

	a {
		color: $black;
		&:hover {
			color: $black;
		}	
	}
}

.post-tags {
	margin-bottom: rem-calc(40);
	
	dd {
		&:not(:first-child) { margin-left: rem-calc(10); }
		&:first-child {
			margin-left: rem-calc(20);
		}
		&.active {
			a {
				color: $black;
			}
		}
	}
	a {
		color: $blue-lite;
		font-size: rem-calc(10);
		@extend %transition-color;
		&:hover {
			color: $blue;
		}
	}
}

.post-content {
	width: rem-calc(600);
	padding: rem-calc(20);
	margin-top: rem-calc(130);
	margin-left: rem-calc(744);

	p {
		@extend %font-regular;
		@extend %font-14;

		&.font-lite {
			@extend %font-lite;
			font-size: 18;
		}
	}

	&.atc-ct {
		//width: 100%;
		height: 80%;
		@extend %abs;
		overflow: hidden;
	}
}

.post-text {
	overflow: hidden;
	height: rem-calc(600);
	width: rem-calc(560) !important;
	top: rem-calc(80);

	p {
		padding-right: rem-calc(20);
	}
}

//Artigos
.article-header {
	h3 {
		margin: 0;
	}
	span {
		color: $pink;
		@extend %font-14;
		margin: rem-calc(5) 0;
		&.locality {
			@extend %black;
			@extend %italic;
		}
		&.categories {
			//margin-top: 0;
			@extend %black;
			font-size: rem-calc(10);
			a {
				@extend %black;
			}
			
		}
		&.article-pdf {
			a {
				@extend %black;
			}
		}
	}
	a {
		color: $pink;
	}
	time {
		@extend %font-14;
		margin: rem-calc(5) 0;
	}
}

.article-share {
	padding: rem-calc(10);
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	margin-top: rem-calc(10);
	margin-bottom: rem-calc(20);
}

.article-text {
	//width: rem-calc(560);
	//height: rem-calc(400);
	//top: rem-calc(220);
	//overflow: hidden;

	p {
		padding-right: rem-calc(20);
	}
}

//Pagina de contato
.contact-info {
	h4 {
		font-size: rem-calc(18);
		&.font-bold {
			line-height: 1;
		}
	}
}

.ct-form {
	margin-top: rem-calc(20);
}

.wpcf7-text, .wpcf7-textarea {
	width: 50% !important;
	background: $gold !important;
}

.wpcf7-textarea {
	height: rem-calc(100) !important;
}

.wpcf7-submit {
	@extend %font-lite;
	background: $gold;
	border: none;
	font-size: rem-calc(14) !important;
}