@media screen and (max-height: rem-calc(728)) {
	.sub-menu {
		//display: none;
	}
	.post-info {
		margin-top: rem-calc(10);
	}

	.contact-info {
		h4 {
			font-size: rem-calc(14);
		}
	}
	.info-left {
		width: 50%;
		float: left;
	}
	.info-left {
		width: 50%;
		float: right;
	}

	#main-menu {
		h4 {
			font-size: rem-calc(14);
		}
	}

}

@media screen and (min-width: rem-calc(320)) and (max-width: rem-calc(1280)) {
	.post-thumb {
		width: rem-calc(600) !important;
	}
	.post-content {
		margin-left: rem-calc(600);
	}

	.post-header {
		&.article {
			width: rem-calc(300);

			h1 {
				font-size: rem-calc(50);
				margin-left: rem-calc(20);

				&.ct {
					font-size: rem-calc(20);
				}
			}
		}
	}

	.english-body {
		margin-left: rem-calc(600);
	}

	.oportunity-text {
		left: rem-calc(600);
	}

	.opt-header {
		h1,h2 {
			font-size: rem-calc(50);
		}
		h6 {
			font-size: rem-calc(10);
		}
		
	}

	.icon-lsd {
		left: rem-calc(80);
	}

	.select-options {
		width: rem-calc(300);
		header {
			h1 {
				font-size: rem-calc(50);
			}
		}
	}

	.article-list {
		left: rem-calc(600);
	}

	.contact-content {
		width: rem-calc(400) !important;
	}

	.thought-header {
		left: rem-calc(300);
		width: rem-calc(300);
	}

	.thought-nav {
		width: rem-calc(300);
		span {
			display: none;
		}
	}

	.the-thought {
		width: rem-calc(300);
		h1 {
			font-size: rem-calc(50);
		}
	}

	.thought-post {
		left: rem-calc(600);
	}

}