@media screen and (max-height: rem-calc(680)) {
	.sub-menu {
		display: none;
	}
	.post-info {
		margin-top: rem-calc(10);
	}

	.contact-info {
		h4 {
			font-size: rem-calc(14);
		}
	}
	.info-left {
		width: 50%;
		float: left;
	}
	.info-left {
		width: 50%;
		float: right;
	}
}

@media screen and (min-width: rem-calc(320)) and (max-width: rem-calc(1200)) {
	.post-thumb {
		width: rem-calc(600) !important;
	}
	.post-content {
		margin-left: rem-calc(600);
	}

	.post-header {
		&.article {
			width: rem-calc(300);

			h1 {
				font-size: rem-calc(50);
				margin-left: rem-calc(20);

				&.ct {
					font-size: rem-calc(20);
				}
			}
		}
	}

	.english-body {
		margin-left: rem-calc(600);
	}
}